@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono {
   font-family: "Roboto Mono", monospace;
   font-optical-sizing: auto;
   font-weight: 100;
   font-style: normal;
 }

*{
   font-family: "Roboto Mono", monospace;
}


body{
   margin: 0;
   padding: 0;
   background-color: #7a7adb;
   background-image: linear-gradient(to right, #5d2c6c 0%, #ff000dab 74%,#5d2c6c);
   
}

.main{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   z-index: 1;
}

.p1{
   font-size: 50px;
   margin-bottom: 20px;
   margin-left: 80px;
   color: white;
}


.container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   transform: translateX(-50px);
}


img{
   position: absolute;
   height: 200px;
   width: 195px;
   object-fit: contain;
   object-position: center;
   border-radius: 37px;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   
}

.btn{
   position: relative;
   height: 100px;
   width: 100px;
   margin: 60px;
   border: none;
   background-color: transparent;
   border-radius: 20px;
   transition: all 0.5s;
   cursor: pointer;
}

.btn:hover{
   transform: translateY(-10px);
}

.btn:active{
   transform: translateY(0px);
}






@media (max-width:500px) {
   .results{
      display: flex;
      gap: 30px;
      margin-top: 140px;
   }
}


@media (max-width:800px) {
   .results{
      display: flex;
      gap: 50px;
      margin-top: 140px;
   }
}


@media (max-width:1200px) {
   .results{
      display: flex;
      gap: 70px;
      margin-top: 140px;
   }
}

@media (min-width:1201px) {
   .results {
      display: flex;
      gap: 100px;
      margin-top: 140px;
   }
}

.modal{
   display: none;
   position: fixed;
   background-color: rgba(0,0,0,0.6);
   height: 100vh;
   width: 100%;
   align-items: center;
   justify-content: center;
   z-index: 2;
}

.box{
   position: relative;
   background-color: #2d2d30;
   width: 100%;
   height: 40%;
   display: flex;
   justify-content: space-between;
   padding:100px;
}


.retry{
   border:2px solid white;
   color: white;
   background-color: transparent;
   font-size: 50px;
   border-radius: 50%;
   padding: 5px 13px 5px 16px;
   text-align: center;
   transition: all 0.5s,padding 0.1s;
   cursor: pointer;
}

.retry:hover{
   rotate: 270deg;
   border: none;
   background: white;
   color: black;
   padding: 7px 16px 7px 19px;
}

.retry:active{
   transform: translateX(10px);
}

.you{
   display: flex;
   flex-direction: column;
   align-items: center;
}



.text1,.text2{
   font-size: 50px;
   color: white;
}


.your-choice{
   font-size: 70px;
   color: gold;
   margin-top: 25%;
   margin-bottom: 10px;
}

.Computer{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.ai-choice{
   font-size:70px;
   color: rgb(255, 87, 87);
   margin-top: 20%;
   margin-bottom: 10px;
}

.result{
   font-size: 90px;
   color: white;
}

.box-box{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 85%;
}


.score-box{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: space-between;
   bottom: 10%;
   width: 60%;
   z-index: 1;
}


.score{
   font-size: 30px;
   color: white;
}

.button{
   position: absolute;
   bottom: 20%;
}

.btn1{
    background-color: transparent;
    border: 2px solid white;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    padding:10px 15px 10px 15px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn1:hover{
   background-color: white;
   color: #ff000dab;
   transform: translateY(-5px);
}